$maincolor: #004aad;

@mixin spacer($mb) {
	@extend .mb-5, .mb-lg-5;

	@include media-breakpoint-up(xl) {
		margin-bottom: #{$mb}px !important;
	}
}

@mixin percentage($width) {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 $width;
	flex: 0 0 $width;
	max-width: $width;
}

@mixin ratio($pad, $obj) {
	position: relative;
	display: block;
	overflow: hidden;

	img,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: $obj;
		transition: all 0.3s;
	}

	&::before {
		content: '';
		display: block;
		padding-bottom: $pad;
	}
}

@mixin section-padding() {
	padding: 24px 0;

	@include media-breakpoint-up(md) {
		padding: 48px 0;
	}

	@include media-breakpoint-up(xl) {
		padding: 100px 0;
	}
}

@mixin line-clamp($lc) {
	display: -webkit-box;
	-webkit-line-clamp: $lc;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin title-heading() {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@content;
	}
}

@mixin none-line() {
	background: none;
	border: none;
	outline: none;
}

@mixin background-insert($obj) {
	background-repeat: no-repeat;
	background-size: $obj;
	background-position: center;
}

@for $i from 1 through 192 {
	.max-w-#{$i * 10} {
		max-width: #{$i * 10}px;
	}

	.p-top-#{$i} {
		padding-top: #{$i}px;
	}
	.p-left-#{$i} {
		padding-left: #{$i}px;
	}
	.p-right-#{$i} {
		padding-right: #{$i}px;
	}
	.p-bottom-#{$i} {
		padding-bottom: #{$i}px;
	}
	.p-x-#{$i} {
		padding-left: #{$i}px;
		padding-right: #{$i}px;
	}
	.p-y-#{$i} {
		padding-top: #{$i}px;
		padding-bottom: #{$i}px;
	}
	.p-xy-#{$i} {
		padding: #{$i}px;
	}
}
