<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vinhomes Ocean Park</title>
  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <div id="app">
    <myheader style="background-color: #1f58a7;"></myheader>
    <main>
      <section class="main-content" id="article-page">
        <div class="breadcumb-wrapper">
          <div class="container">
            <div class="max-w-1170 mx-auto">
              <ul class="breadcrumb list-menu">
                <li><a href="#">Tin tức</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="article-banner"></div>
        <div class="article-content text-white">
          <div class="container">
            <div class="max-w-1170 mx-auto">
              <h1 class="page-title" style="color: #e2d2b2;">Có thêm nhiều dịch vụ y tế mới, cư dân Ocean City an tâm
                “sống khỏe” trọn đời</h1>
              <div class="timecreated">
                <div class="socials">
                  <div class="share_block">
                    <div class="createdNew">
                      <div class="created">
                        <a href="/vi/oceanpark2" class="iconhome"><i class="fa fa-home" aria-hidden="true"></i></a>
                        17.06.2024
                      </div>
                    </div>
                    <!-- <div class="sharefb">
                      <div class="social-sharing__label">Chia sẻ:</div>
                      <div class="social-sharing__buttons social-sharing-buttons">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://vinhomes.vn/vi/co-them-nhieu-dich-vu-y-te-moi-cu-dan-ocean-city-an-tam-song-khoe-tron-doi"
                          target="_blank" title="Share to Facebook" aria-label="Share to Facebook"
                          class="social-sharing-buttons__button share-facebook d-inline-flex" rel="noopener">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="rte content">
                <p>
                  <strong>
                    Hệ thống chăm sóc sức khỏe Vinmec sẽ “phủ sóng” rộng khắp Ocean City, từ đặc quyền y tế tận nhà,
                    chăm
                    sóc sức khỏe cá nhân hóa, mở thêm phòng khám đa khoa cho tới đưa vào vận hành bệnh viện an dưỡng
                    siêu
                    sang tại Việt Nam.
                  </strong>
                </p>
                <p>
                  <br />
                  Việc thăng hạng chất lượng cuộc sống bằng các "lá chắn" y tế càng cho thấy Ocean City là "nơi đáng
                  sống
                  bậc nhất hành tinh".
                </p>
                <p><b>Thêm "lá chắn" giúp bảo vệ sức khỏe cư dân</b></p>
                <p>
                  Vợ mang bầu đứa con đầu lòng, anh Trần Tuấn (Quận Hai Bà Trưng, Hà Nội) cũng thúc đẩy nhanh hơn kế
                  hoạch
                  tìm nơi an cư mới cho cả gia đình. Giữa một "biển" thông tin được chào mời, sau khi nâng lên, đặt
                  xuống
                  nhiều phương án, cuối
                  cùng, nơi an cư được anh lựa chọn là Ocean City.
                </p>
                <p>
                  "Tiêu chí chọn nhà của tôi gói gọn trong 2 chữ: An toàn – cả về không gian sống và các dịch vụ y tế đi
                  cùng. Tôi muốn bà xã sẽ được chăm sóc sức khỏe với chế độ, điều kiện tốt nhất và đứa trẻ sau này ra
                  đời
                  cũng vậy", anh Tuấn cho
                  biết.
                </p>
                <p>
                  Lựa chọn an cư tại Ocean City không chỉ bởi không gian sống riêng tư và hệ thống an ninh an toàn vượt
                  trội, vợ chồng anh Tuấn còn bị thuyết phục hoàn toàn khi có sự hiện diện của các dịch vụ y tế Vinmec,
                  được triển khai từ nhà ra
                  tới viện. Đáng nói, đây đều là những tiện ích đẳng cấp, chất lượng và cập nhật xu hướng chăm sóc sức
                  khỏe mới nhất của thế giới.
                </p>
                <p>
                  Theo đó, các gia đình có bà bầu như nhà anh Tuấn có thể dễ dàng đăng ký gói dịch vụ "Y tế tận nhà" để
                  được chăm sóc 24/7. Chỉ cần một cuộc gọi tới hệ thống hotline, cư dân sẽ được bác sĩ hoặc điều dưỡng
                  của
                  bệnh viện Vinmec đến
                  tận nhà khám bệnh, kê đơn hay gọi sơ, cấp cứu nhanh chóng, kịp thời, không để lỡ "thời gian vàng"
                  trong
                  xử lý các vấn đề.
                </p>
                <p>
                  Thấu hiểu những khó khăn của gia đình có trẻ nhỏ, Dịch vụ mẹ sau sinh và bé có thể giúp sản phụ thông
                  tắc tia sữa, tắm cho trẻ sơ sinh kết hợp giáo dục sớm, chăm sóc trẻ ốm... Cùng với đó là các gói Dịch
                  vụ
                  Chăm sóc người cao tuổi
                  (chức nặng vận động, dinh dưỡng, nhu cầu cơ bản) và Chăm sóc hậu phẫu (chăm sóc vết khâu, vết mổ, thay
                  băng, cắt chỉ, quản lý dùng thuốc)… do đội ngũ bác sĩ, điều dưỡng giỏi chuyên môn, giàu kinh nghiệm
                  thực
                  hiện.
                </p>
                <p>
                  Bên cạnh dịch vụ "Y tế tận nhà", cư dân Ocean City cũng có thể tham gia dịch vụ VinCare PRIMÉ, đặc
                  quyền
                  chăm sóc sức khỏe cá nhân hóa theo tiêu chuẩn quốc tế. Đây là tiện ích y tế cao cấp bởi có thể đảm bảo
                  tính an toàn bảo mật,
                  riêng tư và có thể theo dõi, quản lý sức khỏe của mỗi cá nhân một cách sát sao nhất.
                </p>
                <p>
                  Khi tham gia dịch vụ, mỗi cư dân sẽ được chăm sóc chuyên biệt 24/7 bởi một bác sĩ riêng và một điều
                  phối
                  viên trong khu vực thăm khám biệt lập. Các y bác sĩ sẽ xây dựng kế hoạch quản lý sức khỏe cho mỗi cá
                  nhân, các yếu tố nguy cơ
                  và chủ động dự phòng để có thể phát hiện sớm các dấu hiệu bất thường.
                </p>
                <p>Sự bổ sung của các dịch vụ cao cấp này vào hệ tiện ích y tế tại Ocean City sẽ giúp nhiều gia đình yên
                  tâm an cư khi sức khỏe được bảo vệ "đa lớp" với chất lượng cao nhất.</p>
                <p><b>Bệnh viện an dưỡng "5 sao" nâng cao chất lượng cuộc sống cư dân</b></p>
                <p>
                  Ngoài các dịch vụ mới được triển khai, cư dân Ocean City sẽ có thêm nhiều địa chỉ chăm sóc sức khỏe uy
                  tín đang được Vinmec mở mới tại các khu đô thị. Tại "thành phố đáng sống" này có sự hiện diện của cả
                  một
                  "đội quân" những người
                  mặc áo blouse trắng, đi kèm sự đầu tư về trang thiết bị, công nghệ khám chữa bệnh.
                </p>
                <p>
                  Ở Vinhomes Ocean Park 1, để đáp ứng nhu cầu thăm khám, chăm sóc sức khỏe ngày càng tăng của cộng đồng
                  cư
                  dân, Vinmec sẽ phát triển mô hình phòng khám đa khoa cơ bản, với 2 phòng khám nội, 1 phòng khám nhi
                  kết
                  hợp tai mũi họng, 1
                  phòng đánh giá ban đầu, 1 phòng lấy máu và làm xét nghiệm test nhanh; 1 phòng cấp cứu và thủ thuật, 1
                  phòng lưu, 1 phòng siêu âm…
                </p>
                <p>
                  Ở Vinhomes Ocean Park 2 sẽ là mô hình phòng khám đa khoa nâng cao. Ngoài các dịch vụ như ở phòng khám
                  cơ
                  bản, phòng khám nâng cao sẽ có thêm các dịch vụ: xét nghiệm cơ bản hóa sinh, huyết học; khám sức khỏe
                  tổng quát, với chuyên
                  khoa tai mũi họng, mắt, răng hàm mặt, khám phụ khoa, khám nội chung; 2 phòng sội soi, 1 phòng nội soi
                  tiêu hóa, 1 phòng khám gây mê và đầy đủ dịch vụ chẩn đoán hình ảnh với siêu âm, điện tim, chụp
                  X-Quang,
                  mammo và CT, MRI…
                </p>
                <p>
                  <a data-fancybox="img-lightbox"
                    href="https://cafefcdn.com/203337114487263232/2024/3/23/photo-1-1711111419040588177708-1711164868704-17111648688241405748029.jpg"
                    target="_blank"
                    title="Vinmec Medical Resort - bệnh viện an dưỡng siêu sang tiên phong tại Việt Nam hoàn thiện chất lượng sống cao cấp của cư dân Ocean City.">
                    <img alt="Có thêm nhiều dịch vụ y tế mới, cư dân Ocean City an tâm “sống khỏe” trọn đời- Ảnh 1."
                      data-original="https://cafefcdn.com/203337114487263232/2024/3/23/photo-1-1711111419040588177708-1711164868704-17111648688241405748029.jpg"
                      h="674" height="" id="img_80908575081570304" photoid="80908575081570304" rel="lightbox"
                      src="https://cafefcdn.com/203337114487263232/2024/3/23/photo-1-1711111419040588177708-1711164868704-17111648688241405748029.jpg"
                      title="Có thêm nhiều dịch vụ y tế mới, cư dân Ocean City an tâm “sống khỏe” trọn đời- Ảnh 1."
                      type="photo" w="1200" width="" />
                  </a>
                </p>
                <p data-placeholder="Nhập chú thích ảnh">Vinmec Medical Resort - bệnh viện an dưỡng siêu sang tiên phong
                  tại Việt Nam hoàn thiện chất lượng sống cao cấp của cư dân Ocean City.</p>
                <p>Đặc biệt, mảnh ghép giúp hoàn chỉnh hệ thống chăm sóc sức khỏe ở Ocean City chính là Vinmec Medical
                  Resort - bệnh viện an dưỡng siêu sang tiên phong tại Việt Nam dự kiến vận hành vào năm 2025 tại
                  Vinhomes
                  Ocean Park 2.</p>
                <p>
                  Trên quy mô 36.000 m2, Vinmec Medical Resort sẽ gồm một tòa bệnh viện 5 tầng và 18 căn biệt thự đơn
                  lập,
                  nằm xen kẽ trong cảnh quan hồ nước sinh thái. Trong đó, tòa bệnh viện dự kiến có 50 phòng khám bệnh,
                  130
                  giường bệnh nội trú,
                  đáp ứng nhu cầu khám chữa bệnh cơ bản thuộc 13 chuyên khoa, từ Hồi sức cấp cứu, Nội tổng hợp, Nhi,
                  Sản,
                  Chẩn đoán hình ảnh, Xét nghiệm...
                </p>
                <p>
                  Đáng chú ý hơn cả là sự hiện diện của 18 biệt thự đơn lập cũng là 18 "biệt thự Tổng thống" với đầy đủ
                  chức năng khám chữa bệnh, phẫu thuật, an dưỡng. Mỗi biệt thự phục vụ một bệnh nhân, có hai tầng gồm
                  phòng nghỉ cho bệnh nhân,
                  phòng ăn, phòng khách, phòng cho người nhà, phòng cho nhân viên y tế trực, trị liệu với tiện nghi cao
                  cấp dành cho bệnh nhân điều trị nội trú. Từ năm 2025, bên cạnh Vinmec Medical Resort, phòng khám
                  Vinmec
                  dành riêng cho người Hàn
                  Quốc Korean Medical Center cũng sẽ đi vào vận hành.
                </p>
                <p>
                  Không phải ngẫu nhiên mà New York Times gọi Ocean City là "Tiên phong khai mở bất động sản xanh tích
                  hợp
                  ngành công nghiệp chữa lành"; hay Straits Times - Nhật báo hàng đầu Singapore thì ví đây là "nơi đáng
                  sống bậc nhất hành
                  tinh". Có thể nói, một "đô thị đáng sống" phải là nơi cộng đồng dân cư được thừa hưởng các tiện ích
                  vượt
                  trội để có thể "an tâm sống khỏe trọn đời".
                </p>
              </div>
              <div class="center page-bottom"><a class="back-to-top" href="#article-page">Lên dầu trang</a></div>
            </div>
          </div>
        </div>
        <div class="related-news">
          <div class="container">
            <div class="max-w-1170 mx-auto">
              <div class="related-news-wrapper">
                <h2 class="related-news-title">Tin liên quan</h2>
                <div class="list-news swiper">
                  <div class="swiper-wrapper">
                    <div class="news-item swiper-slide">
                      <div class="thumb-related-news">
                        <a href="/vinhomes-kien-tao-pho-han-o-phia-dong-don-cong-dong-han-quoc-nhu-the-nao">
                          <img
                            src="https://gcp-cdn.vinhomes.vn/cms-data/styles/ocp_images_373_240/public/2024_06/320240326183502_1718613899.jpg?itok=AVzxG99j"
                            alt="news lancaster" />
                        </a>
                      </div>
                      <div class="related-news-info">
                        <h4 class="related-news-title"><a
                            href="/vinhomes-kien-tao-pho-han-o-phia-dong-don-cong-dong-han-quoc-nhu-the-nao">Vinhomes
                            kiến
                            tạo "phố Hàn" ở phía Đông đón cộng đồng Hàn Quốc như thế nào?</a></h4>
                        <a href="/vinhomes-kien-tao-pho-han-o-phia-dong-don-cong-dong-han-quoc-nhu-the-nao"
                          class="btn-seemore">
                          <span>Chi tiết</span>
                          <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.28125 1.24609L15.4688 7.15234C15.6445 7.32812 15.75 7.53906 15.75 7.78516C15.75 7.99609 15.6445 8.20703 15.4688 8.38281L9.28125 14.2891C8.96484 14.6055 8.40234 14.6055 8.08594 14.2539C7.76953 13.9375 7.76953 13.375 8.12109 13.0586L12.7969 8.62891H0.84375C0.351562 8.62891 0 8.24219 0 7.78516C0 7.29297 0.351562 6.94141 0.84375 6.94141H12.7969L8.12109 2.47656C7.76953 2.16016 7.76953 1.59766 8.08594 1.28125C8.40234 0.929688 8.92969 0.929688 9.28125 1.24609Z"
                              fill="#E2D2B2"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="news-item swiper-slide">
                      <div class="thumb-related-news">
                        <a
                          href="/trai-nghiem-hanh-trinh-dac-biet-den-ocean-city-tren-xe-buyt-dien-hien-dai-nhat-viet-nam">
                          <img
                            src="https://gcp-cdn.vinhomes.vn/cms-data/styles/ocp_images_373_240/public/2024_06/vingroup-2832024-1_28032024185616_131_1718614002.jpg?itok=Ltq1ZOgc"
                            alt="news lancaster" />
                        </a>
                      </div>
                      <div class="related-news-info">
                        <h4 class="related-news-title">
                          <a
                            href="/trai-nghiem-hanh-trinh-dac-biet-den-ocean-city-tren-xe-buyt-dien-hien-dai-nhat-viet-nam">Trải
                            nghiệm hành trình đặc biệt đến Ocean City trên xe buýt điện hiện đại nhất Việt Nam</a>
                        </h4>
                        <a href="/trai-nghiem-hanh-trinh-dac-biet-den-ocean-city-tren-xe-buyt-dien-hien-dai-nhat-viet-nam"
                          class="btn-seemore">
                          <span>Chi tiết</span>
                          <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.28125 1.24609L15.4688 7.15234C15.6445 7.32812 15.75 7.53906 15.75 7.78516C15.75 7.99609 15.6445 8.20703 15.4688 8.38281L9.28125 14.2891C8.96484 14.6055 8.40234 14.6055 8.08594 14.2539C7.76953 13.9375 7.76953 13.375 8.12109 13.0586L12.7969 8.62891H0.84375C0.351562 8.62891 0 8.24219 0 7.78516C0 7.29297 0.351562 6.94141 0.84375 6.94141H12.7969L8.12109 2.47656C7.76953 2.16016 7.76953 1.59766 8.08594 1.28125C8.40234 0.929688 8.92969 0.929688 9.28125 1.24609Z"
                              fill="#E2D2B2"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="news-item swiper-slide">
                      <div class="thumb-related-news">
                        <a
                          href="/vinhomes-ocean-park-2-la-khu-do-thi-dau-tien-tai-viet-nam-co-trung-tam-cham-soc-suc-khoe-nguoi-cao-tuoi-0">
                          <img
                            src="https://gcp-cdn.vinhomes.vn/cms-data/styles/ocp_images_373_240/public/2024_06/anh-1-thay-the-6444_1718614062.jpg?itok=md6-robb"
                            alt="news lancaster" />
                        </a>
                      </div>
                      <div class="related-news-info">
                        <h4 class="related-news-title">
                          <a
                            href="/vinhomes-ocean-park-2-la-khu-do-thi-dau-tien-tai-viet-nam-co-trung-tam-cham-soc-suc-khoe-nguoi-cao-tuoi-0">
                            Vinhomes Ocean Park 2 là khu đô thị đầu tiên tại Việt Nam có trung tâm chăm sóc sức khỏe
                            người
                            cao tuổi
                          </a>
                        </h4>
                        <a href="/vinhomes-ocean-park-2-la-khu-do-thi-dau-tien-tai-viet-nam-co-trung-tam-cham-soc-suc-khoe-nguoi-cao-tuoi-0"
                          class="btn-seemore">
                          <span>Chi tiết</span>
                          <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.28125 1.24609L15.4688 7.15234C15.6445 7.32812 15.75 7.53906 15.75 7.78516C15.75 7.99609 15.6445 8.20703 15.4688 8.38281L9.28125 14.2891C8.96484 14.6055 8.40234 14.6055 8.08594 14.2539C7.76953 13.9375 7.76953 13.375 8.12109 13.0586L12.7969 8.62891H0.84375C0.351562 8.62891 0 8.24219 0 7.78516C0 7.29297 0.351562 6.94141 0.84375 6.94141H12.7969L8.12109 2.47656C7.76953 2.16016 7.76953 1.59766 8.08594 1.28125C8.40234 0.929688 8.92969 0.929688 9.28125 1.24609Z"
                              fill="#E2D2B2"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="news-item swiper-slide">
                      <div class="thumb-related-news">
                        <a href="/vinhomes-kien-tao-pho-han-o-phia-dong-don-cong-dong-han-quoc-nhu-the-nao">
                          <img
                            src="https://gcp-cdn.vinhomes.vn/cms-data/styles/ocp_images_373_240/public/2024_06/320240326183502_1718613899.jpg?itok=AVzxG99j"
                            alt="news lancaster" />
                        </a>
                      </div>
                      <div class="related-news-info">
                        <h4 class="related-news-title"><a
                            href="/vinhomes-kien-tao-pho-han-o-phia-dong-don-cong-dong-han-quoc-nhu-the-nao">Vinhomes
                            kiến
                            tạo "phố Hàn" ở phía Đông đón cộng đồng Hàn Quốc như thế nào?</a></h4>
                        <a href="/vinhomes-kien-tao-pho-han-o-phia-dong-don-cong-dong-han-quoc-nhu-the-nao"
                          class="btn-seemore">
                          <span>Chi tiết</span>
                          <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.28125 1.24609L15.4688 7.15234C15.6445 7.32812 15.75 7.53906 15.75 7.78516C15.75 7.99609 15.6445 8.20703 15.4688 8.38281L9.28125 14.2891C8.96484 14.6055 8.40234 14.6055 8.08594 14.2539C7.76953 13.9375 7.76953 13.375 8.12109 13.0586L12.7969 8.62891H0.84375C0.351562 8.62891 0 8.24219 0 7.78516C0 7.29297 0.351562 6.94141 0.84375 6.94141H12.7969L8.12109 2.47656C7.76953 2.16016 7.76953 1.59766 8.08594 1.28125C8.40234 0.929688 8.92969 0.929688 9.28125 1.24609Z"
                              fill="#E2D2B2"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="news-item swiper-slide">
                      <div class="thumb-related-news">
                        <a
                          href="/trai-nghiem-hanh-trinh-dac-biet-den-ocean-city-tren-xe-buyt-dien-hien-dai-nhat-viet-nam">
                          <img
                            src="https://gcp-cdn.vinhomes.vn/cms-data/styles/ocp_images_373_240/public/2024_06/vingroup-2832024-1_28032024185616_131_1718614002.jpg?itok=Ltq1ZOgc"
                            alt="news lancaster" />
                        </a>
                      </div>
                      <div class="related-news-info">
                        <h4 class="related-news-title">
                          <a
                            href="/trai-nghiem-hanh-trinh-dac-biet-den-ocean-city-tren-xe-buyt-dien-hien-dai-nhat-viet-nam">Trải
                            nghiệm hành trình đặc biệt đến Ocean City trên xe buýt điện hiện đại nhất Việt Nam</a>
                        </h4>
                        <a href="/trai-nghiem-hanh-trinh-dac-biet-den-ocean-city-tren-xe-buyt-dien-hien-dai-nhat-viet-nam"
                          class="btn-seemore">
                          <span>Chi tiết</span>
                          <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.28125 1.24609L15.4688 7.15234C15.6445 7.32812 15.75 7.53906 15.75 7.78516C15.75 7.99609 15.6445 8.20703 15.4688 8.38281L9.28125 14.2891C8.96484 14.6055 8.40234 14.6055 8.08594 14.2539C7.76953 13.9375 7.76953 13.375 8.12109 13.0586L12.7969 8.62891H0.84375C0.351562 8.62891 0 8.24219 0 7.78516C0 7.29297 0.351562 6.94141 0.84375 6.94141H12.7969L8.12109 2.47656C7.76953 2.16016 7.76953 1.59766 8.08594 1.28125C8.40234 0.929688 8.92969 0.929688 9.28125 1.24609Z"
                              fill="#E2D2B2"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="news-item swiper-slide">
                      <div class="thumb-related-news">
                        <a
                          href="/vinhomes-ocean-park-2-la-khu-do-thi-dau-tien-tai-viet-nam-co-trung-tam-cham-soc-suc-khoe-nguoi-cao-tuoi-0">
                          <img
                            src="https://gcp-cdn.vinhomes.vn/cms-data/styles/ocp_images_373_240/public/2024_06/anh-1-thay-the-6444_1718614062.jpg?itok=md6-robb"
                            alt="news lancaster" />
                        </a>
                      </div>
                      <div class="related-news-info">
                        <h4 class="related-news-title">
                          <a
                            href="/vinhomes-ocean-park-2-la-khu-do-thi-dau-tien-tai-viet-nam-co-trung-tam-cham-soc-suc-khoe-nguoi-cao-tuoi-0">
                            Vinhomes Ocean Park 2 là khu đô thị đầu tiên tại Việt Nam có trung tâm chăm sóc sức khỏe
                            người
                            cao tuổi
                          </a>
                        </h4>
                        <a href="/vinhomes-ocean-park-2-la-khu-do-thi-dau-tien-tai-viet-nam-co-trung-tam-cham-soc-suc-khoe-nguoi-cao-tuoi-0"
                          class="btn-seemore">
                          <span>Chi tiết</span>
                          <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.28125 1.24609L15.4688 7.15234C15.6445 7.32812 15.75 7.53906 15.75 7.78516C15.75 7.99609 15.6445 8.20703 15.4688 8.38281L9.28125 14.2891C8.96484 14.6055 8.40234 14.6055 8.08594 14.2539C7.76953 13.9375 7.76953 13.375 8.12109 13.0586L12.7969 8.62891H0.84375C0.351562 8.62891 0 8.24219 0 7.78516C0 7.29297 0.351562 6.94141 0.84375 6.94141H12.7969L8.12109 2.47656C7.76953 2.16016 7.76953 1.59766 8.08594 1.28125C8.40234 0.929688 8.92969 0.929688 9.28125 1.24609Z"
                              fill="#E2D2B2"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="news-item swiper-slide">
                      <div class="thumb-related-news">
                        <a href="/vinhomes-kien-tao-pho-han-o-phia-dong-don-cong-dong-han-quoc-nhu-the-nao">
                          <img
                            src="https://gcp-cdn.vinhomes.vn/cms-data/styles/ocp_images_373_240/public/2024_06/320240326183502_1718613899.jpg?itok=AVzxG99j"
                            alt="news lancaster" />
                        </a>
                      </div>
                      <div class="related-news-info">
                        <h4 class="related-news-title"><a
                            href="/vinhomes-kien-tao-pho-han-o-phia-dong-don-cong-dong-han-quoc-nhu-the-nao">Vinhomes
                            kiến
                            tạo "phố Hàn" ở phía Đông đón cộng đồng Hàn Quốc như thế nào?</a></h4>
                        <a href="/vinhomes-kien-tao-pho-han-o-phia-dong-don-cong-dong-han-quoc-nhu-the-nao"
                          class="btn-seemore">
                          <span>Chi tiết</span>
                          <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.28125 1.24609L15.4688 7.15234C15.6445 7.32812 15.75 7.53906 15.75 7.78516C15.75 7.99609 15.6445 8.20703 15.4688 8.38281L9.28125 14.2891C8.96484 14.6055 8.40234 14.6055 8.08594 14.2539C7.76953 13.9375 7.76953 13.375 8.12109 13.0586L12.7969 8.62891H0.84375C0.351562 8.62891 0 8.24219 0 7.78516C0 7.29297 0.351562 6.94141 0.84375 6.94141H12.7969L8.12109 2.47656C7.76953 2.16016 7.76953 1.59766 8.08594 1.28125C8.40234 0.929688 8.92969 0.929688 9.28125 1.24609Z"
                              fill="#E2D2B2"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="news-item swiper-slide">
                      <div class="thumb-related-news">
                        <a
                          href="/trai-nghiem-hanh-trinh-dac-biet-den-ocean-city-tren-xe-buyt-dien-hien-dai-nhat-viet-nam">
                          <img
                            src="https://gcp-cdn.vinhomes.vn/cms-data/styles/ocp_images_373_240/public/2024_06/vingroup-2832024-1_28032024185616_131_1718614002.jpg?itok=Ltq1ZOgc"
                            alt="news lancaster" />
                        </a>
                      </div>
                      <div class="related-news-info">
                        <h4 class="related-news-title">
                          <a
                            href="/trai-nghiem-hanh-trinh-dac-biet-den-ocean-city-tren-xe-buyt-dien-hien-dai-nhat-viet-nam">Trải
                            nghiệm hành trình đặc biệt đến Ocean City trên xe buýt điện hiện đại nhất Việt Nam</a>
                        </h4>
                        <a href="/trai-nghiem-hanh-trinh-dac-biet-den-ocean-city-tren-xe-buyt-dien-hien-dai-nhat-viet-nam"
                          class="btn-seemore">
                          <span>Chi tiết</span>
                          <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.28125 1.24609L15.4688 7.15234C15.6445 7.32812 15.75 7.53906 15.75 7.78516C15.75 7.99609 15.6445 8.20703 15.4688 8.38281L9.28125 14.2891C8.96484 14.6055 8.40234 14.6055 8.08594 14.2539C7.76953 13.9375 7.76953 13.375 8.12109 13.0586L12.7969 8.62891H0.84375C0.351562 8.62891 0 8.24219 0 7.78516C0 7.29297 0.351562 6.94141 0.84375 6.94141H12.7969L8.12109 2.47656C7.76953 2.16016 7.76953 1.59766 8.08594 1.28125C8.40234 0.929688 8.92969 0.929688 9.28125 1.24609Z"
                              fill="#E2D2B2"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="news-item swiper-slide">
                      <div class="thumb-related-news">
                        <a
                          href="/vinhomes-ocean-park-2-la-khu-do-thi-dau-tien-tai-viet-nam-co-trung-tam-cham-soc-suc-khoe-nguoi-cao-tuoi-0">
                          <img
                            src="https://gcp-cdn.vinhomes.vn/cms-data/styles/ocp_images_373_240/public/2024_06/anh-1-thay-the-6444_1718614062.jpg?itok=md6-robb"
                            alt="news lancaster" />
                        </a>
                      </div>
                      <div class="related-news-info">
                        <h4 class="related-news-title">
                          <a
                            href="/vinhomes-ocean-park-2-la-khu-do-thi-dau-tien-tai-viet-nam-co-trung-tam-cham-soc-suc-khoe-nguoi-cao-tuoi-0">
                            Vinhomes Ocean Park 2 là khu đô thị đầu tiên tại Việt Nam có trung tâm chăm sóc sức khỏe
                            người
                            cao tuổi
                          </a>
                        </h4>
                        <a href="/vinhomes-ocean-park-2-la-khu-do-thi-dau-tien-tai-viet-nam-co-trung-tam-cham-soc-suc-khoe-nguoi-cao-tuoi-0"
                          class="btn-seemore">
                          <span>Chi tiết</span>
                          <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M9.28125 1.24609L15.4688 7.15234C15.6445 7.32812 15.75 7.53906 15.75 7.78516C15.75 7.99609 15.6445 8.20703 15.4688 8.38281L9.28125 14.2891C8.96484 14.6055 8.40234 14.6055 8.08594 14.2539C7.76953 13.9375 7.76953 13.375 8.12109 13.0586L12.7969 8.62891H0.84375C0.351562 8.62891 0 8.24219 0 7.78516C0 7.29297 0.351562 6.94141 0.84375 6.94141H12.7969L8.12109 2.47656C7.76953 2.16016 7.76953 1.59766 8.08594 1.28125C8.40234 0.929688 8.92969 0.929688 9.28125 1.24609Z"
                              fill="#E2D2B2"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <myfooter></myfooter>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/httpvueloaders.js"></script>
  <script src="libs/jquery/jquery-3.7.1.min.js"></script>
  <script src="libs/bootstrap/popper.min.js"></script>
  <script src="libs/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="libs/swiper/swiper-bundle.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      components: {
        myheader: httpVueLoader('vue_components/header.vue'),
        myfooter: httpVueLoader('vue_components/footer.vue'),
      },
      mounted() {
        $(window).bind('load', function () {
          if ($('.related-news .list-news').length) {
            const swiperRelatedNews = new Swiper('.related-news .list-news', {
              slidesPerView: 1,
              slidesPerGroup: 1,
              centeredSlides: true,
              spaceBetween: 0,
              loop: true,
              pagination: {
                el: '.related-news .swiper-pagination',
                clickable: true
              },
              breakpoints: {
                640: {
                  slidesPerView: 1,
                  slidesPerGroup: 1
                },
                768: {
                  slidesPerView: 3,
                  slidesPerGroup: 3,
                  spaceBetween: 20,
                },
                1024: {
                  slidesPerView: 3,
                  spaceBetween: 40,
                  slidesPerGroup: 3
                },
              },
            });
          }
        });
      },
    });
  </script>
</body>

</html>